.Navbar {
  background-color:white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height:6vh;
}

.Navbar-ul {
  list-style:none;
  width:100%;
  margin:0px; 
  padding: 0px;

  display: flex;
  justify-content:space-between;
  list-style-type: none;
}

.Navbar-li {
  font-size: 1.3em;
  text-decoration: none;
  display:inline-block;
  line-height: 6vh;
  margin-left: 50px;
  margin-right: 50px;
}


.Navbar-li a{
  color:black;
  text-decoration: none;
}

.Navbar-li a:hover {
  color:black;
  text-decoration: underline;
}


.Navbar-li a:focus {
  text-decoration: underline;
}



