.Item {
  height: 500px;
  width: 350px; 
  border: 1px solid black;
  margin:0 auto;
  margin-top: 50px;
  display: inline-block;
  margin: 20px;
}

.Item-Desc {
  height: 380px;
  font-size: 24px;
  color: black;
  font-weight: 900;
}